gb-tooltip.gb-ui,
[data-is="gb-tooltip"].gb-ui {
  position: relative;
}

.gb-tooltip__target:hover+.gb-tooltip__content {
  display: inline;
}

.gb-tooltip__content {
  position: absolute;
  display: none;
}

.gb-tooltip__content--above,
.gb-tooltip__content--below {
  left: 0;
}

.gb-tooltip__content--left,
.gb-tooltip__content--right {
  bottom: 0;
}

.gb-tooltip__content--above {
  bottom: 100%;
}

.gb-tooltip__content--below {
  top: 100%;
}

.gb-tooltip__content--left {
  right: 100%;
}

.gb-tooltip__content--right {
  left: 100%;
}
