* {box-sizing:border-box}


.carousel-wrap {
  margin: 30px auto 50px;
  padding: 0;
  position: relative;
  display: block;
  box-sizing: border-box;
}

.carousel-list {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: block;
}

.track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.carousel-slide {
  outline: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  min-height: 1px;
  /* keep the following line */
  display: inline-block;
  float: left;
}

.carousel-slide img {
  /* border: 5px solid #FFF; */
  display: block;
  margin: auto;
  /* width: 60%; */
 /* height: auto; */
  /* max-width: 60%;
  max-height: 60%; */
  /* vertical-align: middle; */
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 8px;
  color: rgb(253, 253, 246);
  font-weight: bold;
  font-size: 20px;
  border-radius: 3px;
  background-color: rgba(77, 77, 77, 0.8);
}

.prev {
  left: 0;
  z-index: 1;
}

.next {
  right: 0;
}

.carousel-dots {
  display: block;
  text-align: center;
  padding: 0;
}

.carousel-dots li {
  cursor:pointer;
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color:grey;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

