/* Flex Grid */

gb-list.gb-ui .gb-list__wrapper--grid,
[data-is="gb-list"].gb-ui .gb-list__wrapper--grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

gb-list > .gb-list__wrapper--grid .gb-list__item.gb-ui {
  flex: 1 1 0%;
}
